services:
  builder:
    build:
      context: ../..
      dockerfile: ci_cd/docker/Dockerfile.build
    image: rtype-builder:latest
    container_name: "${PREFIX}rtype_builder"
    volumes:
      - "${PREFIX}builder_home:/workspace"
    working_dir: /workspace

volumes:
  builder_home:
    name: "${PREFIX}builder_home"
